.table-container {
    margin-top: 3em;
}

.tableBody { 
    width: 100%;
    margin-top: 3em;
    border-collapse: collapse;
}

.tableBody td, tr {
    border: 1px solid  #2c2b2b;
    padding: 8px;
    text-align: left;
    white-space: pre-wrap;
}
