.table-container {
    margin-top: 1em;
}

.tableBody { 
    width: 100%;
    margin-top: 3em;
    border-collapse: collapse;
}

.tableBody {
    border: 1px solid #2c2b2b;
    text-align: center;
    white-space: pre-wrap;
}

td, th {
    border: 1px solid #2c2b2b;
    padding: 8px;
    text-align: center;
    white-space: pre-wrap;
}

.pagination-controls {
    margin-top: 1rem;
}

.pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90px;
    height: 30px;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #0056b3;
}