body {
    --background-color: #f0f0f0;
    --text-color: #333;
    --hover-color: #007BFF;
}
.nav-header {
    display: flex;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: 1rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburger menu styles */
.hamburger {
    position: absolute;
    top: 1.5rem;
    right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.hamburger.open span:first-child {
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:last-child {
    transform: rotate(-45deg) translate(6px, -5px);
}

/* Navigation links styles */
.nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    /* height: 100vh; */
    width: 250px;
    background-color: var(--background-color);
    padding: 2rem 2rem 0;
    padding-top: 5rem;
    border-radius: 8px;
    margin: 0;
    list-style: none;
    transition: right 0.3s ease;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nav-links.active {
    right: 0;
}

.nav-links li {
    width: 100%;
    margin: 1rem 0;
}

.nav-links a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    padding: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    background-color: var(--hover-color);
    color: #fff;
    border-radius: 8px;
}

.btn-logout {
    width: 80%;
    background-color: var(--hover-color);
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #0056b3;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}