body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.plot-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 91vh;
    background-color: var(--background-color);
    padding: 1rem;
    z-index: 1000;
    overflow-y: auto; 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plot-container form {
    overflow-y: auto;
  }